chardet==3.0.4
Click==7.0
dnspython==1.16.0
Flask==1.1.1
Flask-PyMongo==2.3.0
idna==2.9
itsdangerous==1.1.0
MouseInfo==0.1.2
Pillow==8.2.0
PyGetWindow==0.0.8
pymongo==3.10.1
PyMsgBox==1.0.7
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
python3-xlib==0.15
PyTweening==1.0.3
requests==2.23.0
urllib3==1.25.9
Werkzeug==0.16.1
