.book-item {
    padding: 10px;
    text-align: center;
}
.book-item:hover {
      transform: scale(1.01);
}

.stars {
      color:#0085A1;
}
#new-book-description{
    width: 100%
}

#new-book-description{
    width: 100%
}
#author-book-page{
    color: #fff
}

#author-book-page:hover{
    color: #0085A1
}

#buy-it{
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

.flashes{
    font-weight: 500;
}

.stats-select{
    width: 9rem;
    font-size: .7rem;
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.stats-item:hover {
    transform: scale(1.01);
}

.best-book {
    margin-top:200px;
    
    
}
