{% extends 'base.html' %}
{% block header %}
    <h1>About</h1>
{% endblock%}
{% block content %}
    <p>Booksters is a comunity of books fan that would like to get together and share their experiences about books </p>
    <p>In Booksters you can add the books that you like the mosst adn you can rate books shared by the comunity</p>
    <p>Soon new options will be added. The next one to come ? A store where you will be able to buy all our comunity books at discounted prices.</p>
    <p>Enjoy you reading!</p>
    <hr>
{% endblock %}