{% extends 'base.html' %}
{% block header %}
    <h1>About</h1>
{% endblock%}
{% block content %}
    <p>Booksters is a comunity of books fans that would like to get together and share their experiences about books. </p>
    <p>In Booksters you can add books that you like and rate or comment on books shared in the comunity.</p>
    <p>In Booksters we trust each other. For this reason, we are giving you the possiblity to edit or even delete all books. Please, remember you are suppose to delete or edit a book only if you have created it.</p>
    <p>Soon new options will be added. The next one to come ? A store where you will be able to buy all our comunity books at discounted price.</p>
    <p class="text-right font-italic">Enjoy you reading!</p>
    <hr>
{% endblock %}