{% extends 'base.html' %}

{% block header %}
    <h1>Looking for a book?</h1>
    <span class="subheading">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form action="{{ url_for('search_book') }}" method="POST">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Name of the book</label>
                                <input type="text" class="form-control" placeholder="Title" name="book_title" id="book_title" required data-validation-required-message="Please enter a title.">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" >Get it</button>
                        </div>
                    </form>
                </div>
            </div>
         </div>   
    </span>
{% endblock %}

{% block content %}
    {% for book in books %}
        <div class="post-preview">
            <a href="{{url_for('get_book', book_title=book.book_title)}}">
                <h2 class="post-title">
                    {{book.book_title}}
                </h2>
                <h3 class="post-subtitle">
                    {{book.book_description}}
                </h3>
            </a>
            <p class="post-meta"> by
                <a href="{{url_for('get_books_author', author_name=book.book_author)}}">{{book.book_author}}</a>
        </div>  
        <hr>
    {% endfor %}
 {% endblock %}