{% extends 'base.html' %}

{% block header %}
    <h1>Looking for a book?</h1>
    <span class="subheading">
        <div Looking for a book?class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form action="{{ url_for('search_book') }}" method="POST">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Title or Author of the book</label>
                                <input type="text" class="form-control" placeholder="Title or Author of the book" name="book_input" id="book_input" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" >Get it</button>
                        </div>
                        {% if error_message == True %}
                        <div class="d-inline-block help-block text-danger">We couldn't find {{ book_input }}</div>
                        <a class=" badge badge-danger" href="{{ url_for('add_book') }}">Add it !</a>
                        {% endif %}
                    </form>
                </div>
            </div>
         </div>   
    </span>
{% endblock %}

{% block content %}
    {% for book in books %}
        <div class="post-preview">
            <a href="{{url_for('get_book', book_author=book.book_author, book_title=book.book_title)}}">
                <h2 class="post-title">
                    {{book.book_title.title()}}
                </h2>
                <p class="post-meta"> by
                    <a href="{{url_for('get_books_by_author', author_name=book.book_author)}}">{{book.book_author.title()}}</a>
                </p>
                <h3 class="post-subtitle">
                    {{book.book_short_description}}
                </h3>
                <h4 id= "rating" class="post-subtitle">{{book.book_rating}}</h4>
                <h4>(based on {{book.book_votes}} votes )</h4>
                
            </a>
           
        </div>  
        <hr>
    {% endfor %}
 {% endblock %}
 