{% extends 'base.html' %}
{% block header %}
    <h1>Are you sure you want to delete {{book.book_title.title()}} ?</h1>   
{% endblock %}
{% block content %}
    <div class="container text-center">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form action="{{ url_for('delete', book_id = book._id) }}" >
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" >Yes!</button>
                    <a class="btn btn-primary" href="{{url_for('get_book', book_title=book.book_title, book_author=book.book_author)}}">No</a>
                </div>
            </form>
        </div>
        </div>
    </div>

{% endblock %}


