{% extends 'base.html' %}
{% block header %}
    <h1>Edit {{book.book_title.title()}}</h1>   
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form action="{{ url_for('update_book', book_id=book._id) }}" method="POST">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                <label>Name of the book</label>
                <input type="text" class="form-control" placeholder="{{book.book_title.title()}}"  onfocus="value='{{book.book_title.title()}}'"  name="book_title" id="book_title" required >
                </div>
            </div>
            
            <div class="control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Choose an author</label>
                    <select  class="custom-select" id="book_author" name="book_author" required>
                        <option value="" disabled selected>{{book.book_author.title()}}</option>
                        {% for auth in authors %}
                            <option value="{{auth.author_name}}">{{auth.author_name.title()}}</option>
                        {% endfor %}
                    </select><a class="badge badge-light" href="{{url_for ('add_author')}}"><i class="fas fa-plus-circle"></i> Add Author</a>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Choose a genre</label>
                    <select  class="custom-select" id="book_genre" name="book_genre" required>
                        <option value="" disabled selected>{{book.genre_name}}</option>
                        {% for gen in genres %}
                            <option value="{{gen.genre_name}}">{{gen.genre_name.title()}}</option>
                        {% endfor %}
                    </select><a class="badge badge-light" href="{{url_for ('add_genre')}}"><i class="fas fa-plus-circle"></i> Add Genre</a>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls ">
                    <label>Book Description</label>
                    <textarea id="new-book-description" rows= 10 placeholder="{{book.book_description}}" onfocus="value='{{book.book_description}}'" name="book_description" required></textarea>        
                </div>
            </div>
            <br>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" >Edit book</button>
            </div>
            </form>
        </div>
        </div>
    </div>
  
{% endblock %}