{% extends 'base.html' %}
{% block header %}
<h1>{{author.title()}}</h1>
{% endblock %}
{% block content %}
{% for book in books %}
<div class="post-preview book-item">
	<a href="{{url_for('get_book', book_id= book._id)}}">
		<h2 class="post-title">
			{{book.book_title.title()}}
		</h2>
	</a>
	<p class="post-subtitle">
		{{book.book_short_description}}
	</p>
	<h4 class="post-subtitle stars">{{book.star_rating}}</h4>
	<p class="font-italic font-weight-lighter small">Based on {{book.book_rating|length}} votes</p>

</div>
<hr>
{% endfor %}
{% endblock %}