{% extends 'base.html' %}
{% block header %}
    <h1>{{author}}</h1>   
{% endblock %}
{% block content %}
    {% for book in books %}
        <div class="post-preview">
            <a href="{{url_for('get_book', book_title=book.book_title)}}">
                <h2 class="post-title">
                    {{book.book_title}}
                </h2>
                <h3 class="post-subtitle">
                    {{book.book_description}}
                </h3>
            </a>
        </div>  
        <hr>
    {% endfor %}
 {% endblock %}