{% extends 'base.html' %}
{% block header %}
    <h1>{{genre}}</h1>   
{% endblock %}
{% block content %}
    {% for book in books %}
        <div class="post-preview">
            <a href="{{url_for('get_book', book_title=book.book_title)}}">
                <h2 class="post-title">
                    {{book.book_title}}
                </h2>
                <h3 class="post-subtitle">
                    {{book.book_description}}
                </h3>
            </a>
            <p class="post-meta"> by
                <a href="{{url_for('get_books_author', author_name=book.book_author)}}">{{book.book_author}}</a>
        </div>  
        <hr>
    {% endfor %}
 {% endblock %}