{% extends 'base.html' %}
{% block header %}
    <h1>Stats</h1>
{% endblock%}
{% block content %}
    <!-- renders the 10 top rated books list-->
    <div class="row">
        <div class= "col-md-12 border stats-item">
            <h1  class="text-center">Our top rated books</h1>
            <ol>
            {% for book in best_ten_books %}
                <li><a href="{{url_for('get_book', book_author=book.book_author, book_title=book.book_title)}}">{{book.book_title.title()}}</a>{{book.book_stars}}</li>
            {% endfor %}
            </ol>      
            
        </div>
    </div>
    <!-- renders the book rating chart -->
    <div class="row">
        <div class= "col-md-12 border stats-item">
            <h1  class="text-center">rating evolution for this book</h1>      
            <p id='rating-chart'></p>
        </div>
    </div>
    <!-- renders 4 info boxes -->
    <div class="row">
        <div class= "col-md-6 border p-5 stats-item">
            <h1 class="text-center">What is the most voted book? </h1>
            <p>The book that was voted most times is {{ top_voted.book_title.title() }} by {{ top_voted.book_author.title()  }}. Users have rated it {{ top_voted.book_votes }} times.</p>
        </div>
        <div class= "col-md-6 border p-5 stats-item">
            <h1  class="text-center">What is the book that people rated the highest? </h1>
            <p>The book that has the highest rating is {{ top_rated.book_title.title() }} by {{ top_rated.book_author.title() }} with {{ top_rated.book_rating }}/5 overall score </p>
        </div>
        <div class= "col-md-6 border p-5 stats-item">
            <h1  class="text-center">
                <span class="d-inline">What is the highest rated book of </span>
                <span class="d-inline">
                    <select  class="custom-select stats-select" id="author_select" name="book_author">
                        <option value="" disabled selected>Choose Author</option>
                        {% for auth in authors %}
                            <option value="{{auth.author_name}}">{{auth.author_name.title()}}</option>
                        {% endfor %}
                    </select>                
                </span>
                <span class="d-inline">?</span>
            </h1>
            <p id='best-book-statement'></p>
        </div>
        <div class= "col-md-6 border p-5 stats-item">
            <h1  class="text-center">
                <span class="d-inline">What is the highest rated book of genre </span>
                <span class="d-inline">
                    <select  class="custom-select stats-select" id="genre_select" name="book_genre">
                        <option value="" disabled selected>Choose Genre</option>
                        {% for gen in genres %}
                            <option value="{{gen.genre_name}}">{{gen.genre_name.title()}}</option>
                        {% endfor %}
                    </select>                
                </span>
                <span class="d-inline">?</span>
            </h1>
            <p id='best-genre-statement'></p>
        </div>
    </div>
    
<!-- imports jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- copies the choice of user into the paragraph and find the highest rated book-->
<script>
    $("select#author_select").change(function () {
        //gets user choice
        author=$(this).find("option:selected").text();      
        //sends a request with user choice to the server 
        fetch('/best_book_author/', {
            method: 'POST',
            // JSON payload
            body: JSON.stringify({
                "author": author
            }),
            headers: new Headers({
                "content-type": "application/json"
            }),
            cache: "no-cache",
            credentials: "include"
        //collects server response
        }).then(function (response) { 
            return response.text();
        //parse server response and amends DOM accordigly 
        }).then(function (text) {
            let bestBookObject= JSON.parse(text);
            $("#best-book-statement").text(`The book of ${author} that was rated the highest by our comunity is ${bestBookObject.book_title} with ${bestBookObject.book_rating}/5 overall score`);
        }).catch(function () {
            $("#best-book-statement").text(`There is no book of ${author} in our database. `).append('<a class=" badge badge-danger" href="/add_book">Why not adding one?</a>')
        })
        
    }) ;
    $("select#genre_select").change(function () {
        //gets user choice
        genre=$(this).find("option:selected").text();      
        //sends a request with user choice to the server 
        fetch('/best_book_genre/', {
            method: 'POST',
            // JSON payload
            body: JSON.stringify({
                "genre": genre
            }),
            headers: new Headers({
                "content-type": "application/json"
            }),
            cache: "no-cache",
            credentials: "include"
        //collects server response
        }).then(function (response) { 
            return response.text();
        //parse server response and amends DOM accordigly 
        }).then(function (text) {
            let bestBookObject= JSON.parse(text);
            $("#best-genre-statement").text(`The book of ${genre.toLowerCase()} that was rated the highest by our comunity is ${bestBookObject.book_title} with ${bestBookObject.book_rating}/5 overall score`);
        }).catch(function () {
            $("#best-genre-statement").text(`There is no book of ${genre} in our database. `).append('<a class=" badge badge-danger" href="/add_book">Why not adding one?</a>')
        })
        
    }) ;
</script>
<!-- libraries needed to create and render the chart-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
<!-- this script registers the book choice and renders the rating in a chart-->
<script>
     var transactionsData = [
            {"name": "book1", "store": "Acme", "state": "NY", "spend": 1},
            {"name": "book2", "store": "Big Co.", "state": "NY", "spend": 2},
            {"name": "book3", "store": "Acme", "state": "FL", "spend": 3},
            {"name": "book4", "store": "Acme", "state": "NY", "spend": 5},
            {"name": "book5", "store": "Big Co.", "state": "FL", "spend": 5},
            {"name": "book6", "store": "Big Co.", "state": "NY", "spend": 4},
            {"name": "book7", "store": "Acme", "state": "FL", "spend": 3},
            {"name": "book8", "store": "Big Co.", "state": "NY", "spend": 2},
        ];
    var ndx = crossfilter(transactionsData);

    var book_name_dim = ndx.dimension(dc.pluck('name'));
    var rating = book_name_dim.group().reduceSum(dc.pluck('spend'));

    dc.barChart('#rating-chart')
        .width(800)
        .height(500)
        .margins({top: 10, right: 50, bottom: 30, left: 50})
        .dimension(book_name_dim)
        .group(rating)
        .transitionDuration(500)
        .x(d3.scale.ordinal())
        .xUnits(dc.units.ordinal)
        .xAxisLabel("Book")
        .yAxis().ticks(4);
        
    dc.renderAll();

</script>
{% endblock %}



