{% extends 'base.html' %}
{% block header %}
    <h1>How would you rate {{book.book_title.title()}} ?</h1>   
{% endblock %}
{% block content %}
    <div class="container text-center">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form action="{{ url_for('insert_rating', book_id = book._id) }}" method="POST">
            <div class="control-group">
                <h4>
                    <div class=" controls post-subtitle rating-star">
                        <input type="int" name="rating" id="rating" required hidden>
                        <span id="1" >✩</span>
                        <span id="2" >✩</span>
                        <span id="3" >✩</span>
                        <span id="4" >✩</span>
                        <span id="5" >✩</span>
                    </div>
                </h4>
            </div>
            <hr>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" >Rate this book!</button>
            </div>
            </form>
        </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- modifies the DOM as user interacts with the mouse and records used choiche-->
    <script type="text/javascript">
        function update_rating(){
            var rating
            var starsArray=['1','2','3','4','5']
            for (s of starsArray) {
                                    // records the rating chosen and visually highlights stars
                                     $('#'.concat(s)).click(function() {
                                                                        $('#rating').val(this.id)
                                                                        var index = starsArray.indexOf(this.id);                                               
                                                                        for (x of starsArray.slice(0 , index+1)) {
                                                                            $('#'.concat(x)).html('★');
                                                                            };
                                                                        for (x of starsArray.slice(index+1)) {
                                                                            $('#'.concat(x)).html('✩');
                                                                            };
                                                                        });
                                    // as mouse passes over, starts are highligthed                                    
                                    $('#'.concat(s)).mouseover(function() {
                                                                            var index = starsArray.indexOf(this.id);                                               
                                                                            for (x of starsArray.slice(0 , index+1)) {
                                                                                $('#'.concat(x)).html('★');
                                                                                };
                                                                            for (x of starsArray.slice(index+1)) {
                                                                                $('#'.concat(x)).html('✩');
                                                                                };
                                                                            });
                                    };
            };
        update_rating()    
    </script>
{% endblock %}


