{% extends 'base.html' %}
{% block header %}
    <h1>How would you rate {{book.book_title.title()}} ?</h1>   
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form action="{{ url_for('insert_rating', book_id = book._id) }}" method="POST">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                <label>Rating from 0 to 5</label>
                <input type="int" min='1' max='5' class="form-control" placeholder="Rating from 0 to 5" name="rating" id="rating" required >
                </div>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" >Rate this book!</button>
            </div>
            </form>
        </div>
        </div>
    </div>
  
{% endblock %}